<div class="min-h-screen flex items-center justify-center py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">

    <div>
      <%= link_to root_path do %>
        <%= image_tag "logos/wibio.svg", class: "mx-auto h-7 w-auto", alt: "Wibio logo"  %>
      <% end %>
      <h2 class="mt-6 text-center">Sign up</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or <%= link_to "log in into your account.", new_session_path(resource_name), class: "font-medium text-primary hover:text-primary-light" %><br />
      </p>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mt-8 space-y-6") do |f| %>

      <%= render MessageComponent.new(resource: resource) %>

      <div>
        <div class="field">
          <%= f.label :nickname, "Nickname", class:"label" %>
          <%= f.text_field :nickname, autofocus: true, placeholder: "Your unique nickname", class: "input mb-4 shadow-sm" %>
        </div>
        <div class="field">
          <%= f.label :email, class:"label" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email address", class: "input mb-4 shadow-sm" %>
        </div>
        <div class="field">
          <%= f.label :password, class:"label" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)", class: "input mb-4 shadow-sm" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class:"label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password", class: "input mb-4 shadow-sm" %>
        </div>
      </div>

      <div class="mt-8 actions">
        <%= f.submit "Sign Up", class:"btn btn-cta w-full" %>
      </div>

    <% end %>

  </div>
</div>

