<nav class="bg-white sticky top-0 z-50 border-b border-gray-200" data-controller="navigation">

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <div class="flex-shrink-0 hidden md:block">
          <%= link_to root_path do %>
            <%= image_tag "logos/wibio.svg", class: "h-6", alt: "Wibio logo" %>
          <% end %>
        </div>
        <div class="flex-shrink-0 md:hidden">
          <%= link_to root_path do %>
            <%= image_tag "logos/wibio-icon.svg", class: "h-6", alt: "Wibio logo" %>
          <% end %>
        </div>
      </div>
      <!-- Menu and links -->
      <div class="flex items-center">
        <div class="hidden md:flex items-center">
          <a href="https://google.com" target="_blank" class="flex btn btn-primary btn-sm items-center gap-x-1 px-2">
            <%= heroicon 'external-link', variant: :solid %>
            <span> Your wibio </span>
          </a>
          <!-- Profile dropdown -->
          <div class="ml-5 relative">
            <%= render DropdownComponent.new(menu_items: primary_navigation) do %>
                <span class="hover:text-primary hover:bg-gray-200 transition p-0.5 max-w-xs bg-gray-100 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary">
                  <%= render AvatarComponent.new(user: @user, size: 8) %>
                  <span class="p-1"><%= heroicon 'chevron-down', variant: :solid %></span>
                </span>
            <% end %>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" data-action="click->navigation#open keydown->navigation#open" data-navigation-target="open" class="bg-white inline-flex items-center justify-center rounded-md text-gray-400 hover:text-grey-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <span class="p-2">
              <%= heroicon 'menu' %>
            </span>
          </button>
          <button type="button" data-action="click->navigation#close keydown->navigation#close" data-navigation-target="close" class="hidden bg-white inline-flex items-center justify-center rounded-md text-gray-400 hover:text-grey-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Close menu</span>
            <span class="p-2">
              <%= heroicon 'x' %>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden md:hidden" id="mobile-menu" data-navigation-target="mobileMenu">
    <div class="pt-4 pb-3">
      <div class="flex items-center justify-between px-5 flex-wrap gap-2">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= render AvatarComponent.new(user: @user, size: 10) %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none mb-1"><%= @user.full_name %></div>
            <div class="text-sm font-medium leading-none text-gray-400"> @<%= @user.nickname %></div>
          </div>
        </div>
        <a href="https://google.com" target="_blank" class="flex btn btn-primary flex items-center justify-center gap-x-1">
          <%= heroicon 'external-link', variant: :solid %>
          <span> Your wibio </span>
        </a>
      </div>
      <div class="mt-3 px-2 space-y-1">
        <% primary_navigation.each do |item| %>
          <%= send(item[:options][:method] ? 'button_to' : 'link_to', item[:url], class: "block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 w-full #{'bg-gray-100 text-black' if item[:selected]}", method: item[:options][:method]) do %>
              <span class="flex gap-4">
                <span class=<%= 'text-primary' if item[:selected] %>><%= heroicon item[:options][:icon] %></span>
                <%= item[:name] %>
              </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</nav>
