<div>
  <nav class="p-8 flex justify-between items-center">
    <%= link_to root_path do %>
      <%= image_tag "logos/wibio.svg", class: "h-7", alt: "Wibio logo"  %>
    <% end %>
    <div class="space-x-2">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-tertiary hidden sm:inline-block" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary hidden sm:inline-block" %>
    </div>
  </nav>
  <main class="p-8 max-w-md mx-auto sm:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl">
    <div class="grid lg:grid-cols-5">
      <div class="flex flex-col mt-6 lg:mt-12 lg:col-span-3 xl:mt-12">
        <h1 class="text-2xl text-center sm:mt-8 sm:text-4xl sm:leading-snug lg:text-left 2xl:text-5xl 2xl:leading-snug">One tool to share it all.
          <br>
          <span class="bg-gradient-to-r from-tertiary via-tertiary to-tertiary-light rounded-lg px-1">Unify your presence on the internet.</span>
        </h1>
        <!-- TODO: change for real paths -->
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary mt-4 self-center sm:mt-8 lg:self-start 2xl:text-xl" %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-tertiary mt-4 self-center sm:mt-8 lg:self-start 2xl:text-xl sm:hidden" %>
      </div>
      <%= image_tag "profile-phone.png", class: "mt-12 sm:max-w-xs sm:mx-auto lg:mt-0 lg:col-span-2", alt: "Phone mock up of a profile in Wibio"  %>
    </div>
  </main>
</div>