<!DOCTYPE html>
<html>
  <head>
    <title>Wibio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <main class="relative overflow-hidden max-w-7xl mx-auto">
      <% flash.each do |type, message| %>
        <%= render FlashComponent.new(type: type, message: message) %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
