<!DOCTYPE html>
<html class="h-full">
<head>
  <title>Wibio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= render 'application/favicon' %>
</head>

<body class="h-full">
<div class="min-h-full bg-gray-50">
  <%= render NavbarComponent.new %>
  <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 relative">
    <% flash.each do |type, message| %>
      <%= render FlashComponent.new(type: type, message: message) %>
    <% end %>

    <%= yield %>
  </main>
</div>

</body>
</html>
